/*
Adapted from: 
    https://github.com/impress/impress.js/blob/master/css/impress-demo.css
    and the Bootstrap Less files
*/
/*
    We start with a good ol' reset.
    That's the one by Eric Meyer http://meyerweb.com/eric/tools/css/reset/
    You can probably argue if it is needed here, or not, but for sure it
    doesn't do any harm and gives us a fresh start.
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
    Now here is when interesting things start to appear.
    We set up <body> styles with default font and nice gradient in the background.
    And yes, there is a lot of repetition there because of -prefixes but we don't
    want to leave anybody behind.
*/
body {
  font-family: 'Open Sans', Arial, sans-serif;
  min-height: 740px;
  line-height: 1;
  background: #262626;
  /*background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgba(100,100,100,0.5)), to(rgba(0, 0, 0, .3)));
    background: -webkit-radial-gradient(rgba(100,100,100,0.5), rgba(0, 0, 0, .3));
    background:    -moz-radial-gradient(rgba(100,100,100,0.5), rgba(0, 0, 0, .3));
    background:     -ms-radial-gradient(rgba(100,100,100,0.5), rgba(0, 0, 0, .3));
    background:      -o-radial-gradient(rgba(100,100,100,0.5), rgba(0, 0, 0, .3));
    background:         radial-gradient(rgba(100,100,100,0.5), rgba(0, 0, 0, .3));*/
}
/*
    Now let's bring some text styles back ...
*/
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
/*
    ... and give links a nice look.
*/
a {
  color: inherit;
  text-decoration: underline;
  padding: 0 0.1em;
}
a:hover,
a:focus {
  background: #ffffff;
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.5);
}
/*
    Now let's style the presentation steps.
    We start with basics to make sure it displays correctly in everywhere ...
*/
.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 28px;
  line-height: 40px;
}
/*
    ... and we enhance the styles for impress.js.
    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
  margin: 0;
  opacity: 0.3;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.impress-enabled .step.active {
  opacity: 1;
}
/*
    These 'slide' step styles were heavily inspired by HTML5 Slides:
    http://html5slides.googlecode.com/svn/trunk/styles.css
    ;)
    They cover everything what you see on first three steps of the demo.
*/
.slide {
  display: block;
  width: 900px;
  height: 700px;
  padding: 40px 60px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  color: #262626;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
}
/*
    The last step is an overview.
    There is no content in it, so we make sure it's not visible because we want
    to be able to click on other steps.
*/
#overview {
  display: none;
}
/*
    We also make other steps visible and give them a pointer cursor using the
    `impress-on-` class.
*/
.impress-on-overview .step {
  opacity: 1;
  cursor: pointer;
}
/*
    And as the last thing there is a workaround for quite strange bug.
    It happens a lot in Chrome. I don't remember if I've seen it in Firefox.
    Sometimes the element positioned in 3D (especially when it's moved back
    along Z axis) is not clickable, because it falls 'behind' the <body>
    element.
    To prevent this, I decided to make <body> non clickable by setting
    pointer-events property to `none` value.
    Value if this property is inherited, so to make everything else clickable
    I bring it back on the #impress element.
    If you want to know more about `pointer-events` here are some docs:
    https://developer.mozilla.org/en/CSS/pointer-events
    There is one very important thing to notice about this workaround - it makes
    everything 'unclickable' except what's in #impress element.
    So use it wisely ... or don't use at all.
*/
.impress-enabled {
  pointer-events: none;
}
.impress-enabled #impress {
  pointer-events: auto;
}
h1,
.h1 {
  font-size: 72px;
}
h2,
.h2 {
  font-size: 60px;
}
h3,
.h3 {
  font-size: 48px;
}
h4,
.h4 {
  font-size: 35px;
}
h5,
.h5 {
  font-size: 28px;
}
h6,
.h6 {
  font-size: 24px;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 40px;
  margin-bottom: 20px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 20px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
input {
  display: block;
  width: 75%;
  height: 40px;
  padding: 6px 12px;
  font-size: 28px;
  line-height: 1.42857143;
  background-image: none;
}
img {
  max-height: 80%;
  max-width: 80%;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}
img.small {
  max-height: 50%;
  max-width: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}